<div class="cart-container">
  <span class="cart" (click)="showSelectedItems()">
    <!-- NOTI-BALL -->
    <ng-container *ngIf="!isSeen && !openCart">
      <span class="noti-ball"></span>
    </ng-container>

    <!-- CART ICON -->
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>

    <!-- CART INSIDE DISPLAY -->
    <div class="cart-inside" [ngClass]="{ hide: !openCart, show: openCart }">
      <p>Products in Your Cart</p>
      <hr style="border: 1px dashed #ccc" />

      <ul *ngIf="selectedItems != ''; else noItems">
        <li
          *ngFor="let item of selectedItems; let i = index"
          (click)="removeItem(i)"
        >
          {{ item.image }}
        </li>
      </ul>

      <ng-template #noItems>
        <p>No products..</p>
      </ng-template>
    </div>
  </span>
</div>
