<div class="container">
  <h1>🌽 Node Farm 🥦</h1>

  <figure class="product">
    <div class="product__organic" *ngIf="isOrganic">
      <h5>ORGANIC</h5>
    </div>

    <a class="product__back"> <span class="emoji-left">👈</span>Back </a>
    <div class="product__hero">
      <span class="product__emoji product__emoji--1">{{ productImg }}</span>
      <span class="product__emoji product__emoji--2">{{ productImg }}</span>
      <span class="product__emoji product__emoji--3">{{ productImg }}</span>
      <span class="product__emoji product__emoji--4">{{ productImg }}</span>
      <span class="product__emoji product__emoji--5">{{ productImg }}</span>
      <span class="product__emoji product__emoji--6">{{ productImg }}</span>
      <span class="product__emoji product__emoji--7">{{ productImg }}</span>
      <span class="product__emoji product__emoji--8">{{ productImg }}</span>
      <span class="product__emoji product__emoji--9">{{ productImg }}</span>
    </div>
    <h2 class="product__name">{{ productName }}</h2>
    <div class="product__details">
      <p><span class="emoji-left">🌍</span> {{ productFrom }}</p>
      <p><span class="emoji-left">❤️</span> {{ productNutrients }}</p>
      <p><span class="emoji-left">📦</span> {{ productQuantity }}</p>
      <p><span class="emoji-left">🏷</span> {{ productPrice }}</p>
    </div>

    <a href="#" class="product__link">
      <span class="emoji-left">🛒</span>
      <span>Add to shopping card ({{ productPrice }})</span>
    </a>

    <p class="product__description">
      {{ productDescription }}
    </p>
  </figure>
</div>
